/Docker/*
!Docker/php/.compositeui-env.dist
!Docker/php/session-parameters.yml.dist
!Docker/php/recipes-parameters.yml.dist

/Session/.lin3s_cs.yml
/Session/.php_cs*
/Session/.phpspec_cs*
/Session/.web-server-pid
/Session/composer.phar
/Session/parameters.yml
/Session/src/Infrastructure/Ui/Assets/.eslint.yml
/Session/src/Infrastructure/Ui/Assets/.scss_lint.yml
/Session/src/Infrastructure/Ui/Assets/node_modules
/Session/src/Infrastructure/Ui/Assets/build
/Session/src/Infrastructure/Ui/Http/Symfony/.htaccess
/Session/src/Infrastructure/Ui/Http/Symfony/bundles
/Session/src/Infrastructure/Ui/Http/Symfony/robots.txt
/Session/src/Infrastructure/Ui/manifest.json
/Session/var/bootstrap.php.cache
/Session/var/cache/*
!Session var/cache/.gitkeep
/Session/var/logs/*
!Session/var/logs/.gitkeep
/Session/var/sessions/*
!Session/var/sessions/dev/.gitkeep
!Session/var/sessions/prod/.gitkeep
/Session/var/jwt/*
!Session/var/jwt/.gitkeep
/Session/vendor
/Session/src/Infrastructure/Ui/Assets/.eslintrc.js
/Session/src/Infrastructure/Ui/Assets/.stylelintrc.js

/Recipes/.lin3s_cs.yml
/Recipes/.php_cs*
/Recipes/.phpspec_cs*
/Recipes/.web-server-pid
/Recipes/composer.phar
/Recipes/parameters.yml
/Recipes/src/Infrastructure/Ui/Assets/.eslint.yml
/Recipes/src/Infrastructure/Ui/Assets/.scss_lint.yml
/Recipes/src/Infrastructure/Ui/Assets/node_modules
/Recipes/src/Infrastructure/Ui/Assets/build
/Recipes/src/Infrastructure/Ui/Http/Symfony/.htaccess
/Recipes/src/Infrastructure/Ui/Http/Symfony/bundles
/Recipes/src/Infrastructure/Ui/Http/Symfony/robots.txt
/Recipes/src/Infrastructure/Ui/manifest.json
/Recipes/var/bootstrap.php.cache
/Recipes/var/cache/*
!Recipes var/cache/.gitkeep
/Recipes/var/logs/*
!Recipes/var/logs/.gitkeep
/Recipes/var/Recipess/*
!Recipes/var/Recipess/dev/.gitkeep
!Recipes/var/Recipess/prod/.gitkeep
/Recipes/var/jwt/*
!Recipes/var/jwt/.gitkeep
/Recipes/vendor
/Recipes/src/Infrastructure/Ui/Assets/.eslintrc.js
/Recipes/src/Infrastructure/Ui/Assets/.stylelintrc.js

CompositeUi/.env
/CompositeUi/.lin3s_cs.yml
/CompositeUi/.php_cs*
/CompositeUi/.phpspec_cs*
/CompositeUi/.web-server-pid
/CompositeUi/composer.phar
/CompositeUi/parameters.yml
/CompositeUi/src/Infrastructure/Ui/Assets/.eslintrc.js
/CompositeUi/src/Infrastructure/Ui/Assets/.stylelintrc.js
/CompositeUi/src/Infrastructure/Ui/Assets/node_modules
/CompositeUi/src/Infrastructure/Ui/Assets/build
!/CompositeUi/src/Infrastructure/Ui/Assets/build/.gitkeep
/CompositeUi/src/Infrastructure/Ui/Http/Symfony/.htaccess
/CompositeUi/src/Infrastructure/Ui/Http/Symfony/bundles
/CompositeUi/src/Infrastructure/Ui/Http/Symfony/robots.txt
/CompositeUi/src/Infrastructure/Ui/manifest.json
/CompositeUi/var/bootstrap.php.cache
/CompositeUi/var/cache/*
!CompositeUi/var/cache/dev/.gitkeep
!CompositeUi/var/cache/prod/.gitkeep
/CompositeUi/var/log/*
!CompositeUi/var/log/.gitkeep
/CompositeUi/var/sessions/*
!CompositeUi/var/sessions/dev/.gitkeep
!CompositeUi/var/sessions/prod/.gitkeep
/CompositeUi/vendor

.php_cs
.php_cs.cache
.git
.gitignore
Makefile
Readme.md
.idea
.editorconfig
.DS_Store
!var/public_keys/.gitkeep
