/Docker/*
!Docker/php/.gateway-env.dist
!Docker/php/session-parameters.yml.dist
!Docker/php/recipes-parameters.yml.dist

/Session/.lin3s_cs.yml
/Session/.php_cs*
/Session/.phpspec_cs*
/Session/.web-server-pid
/Session/composer.phar
/Session/parameters.yml
/Session/src/Infrastructure/Ui/Assets/.eslint.yml
/Session/src/Infrastructure/Ui/Assets/.scss_lint.yml
/Session/src/Infrastructure/Ui/Assets/node_modules
/Session/src/Infrastructure/Ui/Assets/build
/Session/src/Infrastructure/Ui/Http/Symfony/.htaccess
/Session/src/Infrastructure/Ui/Http/Symfony/bundles
/Session/src/Infrastructure/Ui/Http/Symfony/robots.txt
/Session/src/Infrastructure/Ui/manifest.json
/Session/var/bootstrap.php.cache
/Session/var/cache/*
!Session var/cache/.gitkeep
/Session/var/logs/*
!Session/var/logs/.gitkeep
/Session/var/sessions/*
!Session/var/sessions/dev/.gitkeep
!Session/var/sessions/prod/.gitkeep
/Session/var/jwt/*
!Session/var/jwt/.gitkeep
/Session/vendor
/Session/src/Infrastructure/Ui/Assets/.eslintrc.js
/Session/src/Infrastructure/Ui/Assets/.stylelintrc.js

/Recipes/.lin3s_cs.yml
/Recipes/.php_cs*
/Recipes/.phpspec_cs*
/Recipes/.web-server-pid
/Recipes/composer.phar
/Recipes/parameters.yml
/Recipes/src/Infrastructure/Ui/Assets/.eslint.yml
/Recipes/src/Infrastructure/Ui/Assets/.scss_lint.yml
/Recipes/src/Infrastructure/Ui/Assets/node_modules
/Recipes/src/Infrastructure/Ui/Assets/build
/Recipes/src/Infrastructure/Ui/Http/Symfony/.htaccess
/Recipes/src/Infrastructure/Ui/Http/Symfony/bundles
/Recipes/src/Infrastructure/Ui/Http/Symfony/robots.txt
/Recipes/src/Infrastructure/Ui/manifest.json
/Recipes/var/bootstrap.php.cache
/Recipes/var/cache/*
!Recipes var/cache/.gitkeep
/Recipes/var/logs/*
!Recipes/var/logs/.gitkeep
/Recipes/var/Recipess/*
!Recipes/var/Recipess/dev/.gitkeep
!Recipes/var/Recipess/prod/.gitkeep
/Recipes/var/jwt/*
!Recipes/var/jwt/.gitkeep
/Recipes/vendor
/Recipes/src/Infrastructure/Ui/Assets/.eslintrc.js
/Recipes/src/Infrastructure/Ui/Assets/.stylelintrc.js

Gateway/.env
/Gateway/.lin3s_cs.yml
/Gateway/.php_cs*
/Gateway/.phpspec_cs*
/Gateway/.web-server-pid
/Gateway/composer.phar
/Gateway/parameters.yml
/Gateway/src/Infrastructure/Ui/Assets/.eslintrc.js
/Gateway/src/Infrastructure/Ui/Assets/.stylelintrc.js
/Gateway/src/Infrastructure/Ui/Assets/node_modules
/Gateway/src/Infrastructure/Ui/Assets/build
!/Gateway/src/Infrastructure/Ui/Assets/build/.gitkeep
/Gateway/src/Infrastructure/Ui/Http/Symfony/.htaccess
/Gateway/src/Infrastructure/Ui/Http/Symfony/bundles
/Gateway/src/Infrastructure/Ui/Http/Symfony/robots.txt
/Gateway/src/Infrastructure/Ui/manifest.json
/Gateway/var/bootstrap.php.cache
/Gateway/var/cache/*
!Gateway/var/cache/dev/.gitkeep
!Gateway/var/cache/prod/.gitkeep
/Gateway/var/log/*
!Gateway/var/log/.gitkeep
/Gateway/var/sessions/*
!Gateway/var/sessions/dev/.gitkeep
!Gateway/var/sessions/prod/.gitkeep
/Gateway/vendor

.php_cs
.php_cs.cache
.git
.gitignore
Makefile
Readme.md
.idea
.editorconfig
.DS_Store