# This file is part of the Php DDD Standard project.
#
# Copyright (c) 2017 LIN3S <info@lin3s.com>
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.
#
# @author Beñat Espiña <benatespina@gmail.com>
# @author Gorka Laucirica <gorka.lauzirika@gmail.com>

/code/App/.editorconfig
/code/App/.lin3s_cs.yml
/.env
/code/App/parameters.yml
/.idea/*

/code/App/src/App/Infrastructure/Ui/Assets/.eslint.yml
/code/App/src/App/Infrastructure/Ui/Assets/.scss_lint.yml
/code/App/src/App/Infrastructure/Ui/Assets/node_modules
/code/App/src/App/Infrastructure/Ui/Assets/build
!/code/App/src/App/Infrastructure/Ui/Assets/build/.gitkeep
/code/App/src/App/Infrastructure/Ui/Http/Symfony/.htaccess
/code/App/src/App/Infrastructure/Ui/Http/Symfony/bundles
/code/App/src/App/Infrastructure/Ui/Http/Symfony/robots.txt
/code/App/src/App/Infrastructure/Ui/manifest.json
.DS_Store
.editorconfig

/code/App/var/*
!/code/App/var/.gitkeep

/code/App/vendor
/code/App/.idea/
/code/App/composer.phar
!/code/App/parameters.yml.dist