<VirtualHost *:80>
    ServerName social-recipes
    ServerAlias social-recipes

    DocumentRoot /home/fiser/WebSocialRecipes/current/src/App/Infrastructure/Ui/Http/Symfony
    <Directory /home/fiser/WebSocialRecipes/current/src/App/Infrastructure/Ui/Http/Symfony>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    # uncomment the following lines if you install assets as symlinks
    # or run into problems when compiling LESS/Sass/CoffeeScript assets


    ErrorLog /var/log/apache2/project_error.log
    CustomLog /var/log/apache2/project_access.log combined
</VirtualHost>